<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>留言板</title>
    </head>
    <body>
        <header class="page-header" id="header">
            <h1>
                <span style="color: grey">#</span>留言板
            </h1>
        </header>
        
        {% for message in message_pool %}
            <p> {{ message[0] }}:「{{ message[1] }}」 </p>
        {% endfor %}

        <h2><span style="color: grey;letter-spacing:8px;">#</span>新增留言</h2>
        <form action="/" method="post">
                <label>From: </label>
                <div>
                    <input id="user" type="text" name="from_user" class="round">
                </div>

                <label>訊息: </label>
                <div>
                    <textarea id="new_message" name="new_message"  required></textarea>
                </div>
                <button type="submit" class="btn">提交</button>
        </form>
   
    </body>
</html>
